<footer class="page-footer font-small blue">

  <app-leave-request></app-leave-request>

  <!--Contacts-->
  <div class="container-fluid container-mw">
    <div class="row m-auto footer-contacts">
      <div class="row d-flex flex-fill pb-3 pt-3">
        <img class="contact-logo mt-auto mb-auto" src="../../../../assets/icons/phone-icon.png">
        <div class="col-10 mt-auto mb-auto">
          <div class="contact-header">
            <a href="tel:+375297800023">{{contactsConstants.PHONE}}</a>
          </div>
          <div class="comment">Позвоните нам</div>
        </div>
      </div>
      <div class="row d-flex flex-fill pb-3 pt-3">
        <img class="contact-logo mt-auto mb-auto" src="../../../../assets/icons/mail-icon.png">
        <div class="col-10 mt-auto mb-auto">
          <div class="contact-header">
            <a href="mailto:innagrodno@mail.ru">{{contactsConstants.EMAIL}}</a>
          </div>
          <div class="comment">Напишите нам</div>
        </div>
      </div>
      <div class="row d-flex flex-fill pb-3 pt-3">
        <img class="contact-logo mt-auto mb-auto" src="../../../../assets/icons/address-icon.png">
        <div class="col-10 mt-auto mb-auto">
          <div class="contact-header">
            <a routerLink="/contacts">Офис в центре Гродно</a>
          </div>
          <div class="comment">Получите бесплатную консультацию</div>
        </div>
      </div>
    </div>

    <div class="footer-contacts-mobile pt-2 pb-2">
      <div class="row col-md-11 m-auto pb-2">
        <div class="col-2 m-auto">
          <img class="contact-logo" src="../../../../assets/icons/phone-icon.png">
        </div>
        <div class="col-10 m-auto">
          <div class="contact-header">
            <a href="tel:+375297800023">{{contactsConstants.PHONE}}</a>
          </div>
          <div class="comment">Позвоните нам</div>
        </div>
      </div>
      <div class="row col-md-11 m-auto pb-2">
        <div class="col-2 m-auto">
          <img class="contact-logo" src="../../../../assets/icons/mail-icon.png">
        </div>
        <div class="col-10 m-auto pb-2">
          <div class="contact-header">
            <a href="mailto:innagrodno@mail.ru">{{contactsConstants.EMAIL}}</a>
          </div>
          <div class="comment">Напишите нам</div>
        </div>
      </div>
      <div class="row col-md-11 m-auto pb-2">
        <div class="col-2 m-auto">
          <img class="contact-logo" src="../../../../assets/icons/address-icon.png">
        </div>
        <div class="col-10 m-auto">
          <div class="contact-header">
            <a routerLink="/contacts">Офис в центре Гродно</a>
          </div>
          <div class="comment">Получите бесплатную консультацию</div>
        </div>
      </div>
    </div>
  </div>

  <!--Offers-->
  <div class="container-fluid bg-dark">
    <div class="container-fluid container-mw inner-container">
      <div class="row offers-row">
        <div class="col-md-3">
          <img class="contact-logo" src="../../../../assets/icons/main-logo-grey.png">
        </div>
        <div class="col-md-9">
          <div class="offers-header">Услуги</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="big-text">СОДО Тон-сервис,</div>
          <div class="small-text text-padding">г.Гродно, ул. Октябрьская 4</div>
          <div class="small-text">Время работы:</div>
          <div class="big-text text-padding">Пн-Пт 9.00-17.00</div>
          <div class="big-text">+375 29 78-000-23</div>
        </div>
        <div class="col-md-3" *ngFor="let demesne of demesnes">
          <div class="demesne-header">{{demesne.name}}</div>
          <div *ngFor="let productType of demesne.productTypes">
            <div class="product-type-header hoverable" *ngIf="!productType.hideInTree" [routerLink]="['/category', productType.id]">
              {{productType.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--CopyRight-->
  <div class="footer-copyright text-center py-2">
    © 2020 Copyright: Тон-сервис
  </div>
</footer>
