<div class="container-fluid container-mw subcategory-container"
     *ngIf="horizontalReferenceSubcategories != undefined && (selectedSubcategory != undefined || selectedCategory != undefined)">
  <h1 class="subcategory-header">{{selectedSubcategory ? selectedSubcategory.name : selectedCategory.name}}</h1>
  <div class="row" *ngIf="horizontalReferenceSubcategories.length > 1">
    <div *ngFor="let horizontalSubcategory of horizontalReferenceSubcategories" class="card">
      <a class="subcategory-card" [ngClass]="{'active': horizontalSubcategory.id === subcategoryId}"
         [routerLink]="['/category', categoryId, 'subcategory', horizontalSubcategory.id]">
        {{horizontalSubcategory.name}}
      </a>
    </div>
  </div>
</div>
