<div class="container pb-2">
  <div class="description">
    <form [formGroup]="descriptionForm">
      <div class="form-group">
        <quill-editor formControlName="editor"></quill-editor>
      </div>
    </form>
  </div>
  <div class="card-columns">
    <div *ngFor="let example of this.examples; let i = index" class="pb-2">
      <img [src]="example.formattedImage" class="card-img" alt="">
      <div class="mt-2">
        <label>
          <input [id]="example.id" (change)="changeDisplayOrder($event, example)" [placeholder]="example.displayOrder">
        </label>
        <button (click)="remove($event, example)">Удалить</button>
      </div>
    </div>
  </div>
  <div class="container-fluid container-mw pt-4">
    <input type="file" class="outline-#FF2400"
           id="attachFile" (change)="uploadFile($event)">
    <button (click)="addProductExample()">Add</button>
    <button (click)="submit()">Submit</button>
  </div>
</div>
