* {
  cursor: default !important;
}

.thumbnail-content > .img-thumbnail {
  padding: 0 !important;
  border: none;
  border-radius: 0;
  width:  40vw;
  height: 15vw;
  object-fit: cover;
}

.thumbnail {
  background-color: white;
  overflow: hidden;
  border-radius: 3px;
}

.thumbnail:hover {
  color: #047CFC;
  transition: color .3s ease-in-out;
}

.description-container:hover {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.product-description {
  font-size: 10pt;
  color: white;
  width: 80%;
}

.description-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  background: rgba(4, 124, 252, .35);
  left: 0;
  top: 0;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.thumbnail-label {
  font-size: 14pt;
  display: inline-block;
  text-decoration: none;
}

.thumbnail-label-container {
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1261px) {
  .container-fluid {
    max-width: 70% !important;
  }
}

@media (max-width: 1260px) {
  .container-fluid {
    max-width: 100% !important;
  }
}

.product-offers-header {
  font-size: 26pt;
  font-weight: 300;
  color: #52525A !important;
}

#m-products-slider {
  display: none;
}

@media (max-width: 991px) {
  #m-products-slider {
    display: inline-block;
  }

  .product-offers-header, .products-grid {
    display: none;
  }

  .thumbnail-content > .img-thumbnail {
    width:  100%;
    height: auto;
  }
}
