.gradient {
  background-image: linear-gradient(to right, #ff4700 20%, #FF2400 90%);
}

.router-container {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 48px;
  color: #f6f6f6 !important;
}

a {
  color: #f6f6f6;
}

.divider {
  margin-left: 5px;
  margin-right: 5px;
}
