<app-router></app-router>
<div class="container-fluid pt-2">
  <div class="row p-0">
    <div class="col-md-6">
      <div class="row card-small">
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/viber_image_2021-02-23_15-07-27.jpg" alt="НАРУЖНАЯ РЕКЛАМА">
        </div>
        <div class="col-md-4 left-arrow-1 card-1">
          <h1 class="card-title">НАРУЖНАЯ РЕКЛАМА</h1>
          <div class="card-description">
            Изготовление вывесок,
            объемных букв,
            световых коробов,
            рекламных кронштейнов.
            <br>
            <br>
            Поставка светодиодных
            экранов «Бегущая строка».
            <br>
            <br>
            Оформление витрин.
            <br>
            <br>
            Разработка отдельно-
            стоящих конструкций
          </div>
        </div>
      </div>
      <div class="row card-big">
        <div class="col-md-4 right-arrow-2 card-2">
          <h1 class="card-title">ШИРОКОФОРМАТНАЯ ПЕЧАТЬ</h1>
          <div class="card-description">
            Изготовление баннеров,
            виниловых наклеек,
            печать плакатов и
            дизайнерских фотообоев,
            печать на ткани
          </div>
        </div>
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/Studia-otdiha.gif" alt="ШИРОКОФОРМАТНАЯ ПЕЧАТЬ">
        </div>
      </div>
      <div class="row card-small">
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/bielita-3.gif" alt="СКИНАЛИ">
        </div>
        <div class="col-md-4 left-arrow-3 card-3">
          <h1 class="card-title">СКИНАЛИ</h1>
          <div class="card-description">
            Стеновые
            панели из стекла
          </div>
        </div>
      </div>
      <div class="row card-big">
        <div class="col-md-4 right-arrow-4 card-4">
          <h1 class="card-title">АНТИКОРРОЗИЙНАЯ ОБРАБОТКА АВТОМОБИЛЕЙ</h1>
          <div class="card-description">
            Защита от коррозии
            Dinitrol, Mercasol и
            Noxudol
          </div>
        </div>
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/Antikor1.17.gif" alt="АНТИКОРРОЗИЙНАЯ ОБРАБОТКА АВТОМОБИЛЕЙ">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row card-big">
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/Shag.gif" alt="ИНТЕРЬЕРНАЯ РЕКЛАМА">
        </div>
        <div class="col-md-4 left-arrow-5 card-5">
          <h1 class="card-title">ИНТЕРЬЕРНАЯ РЕКЛАМА</h1>
          <div class="card-description">
            Производство и монтаж
            интерьерных вывесок,
            логотипов компаний для
            поддержания стилистики
            бренда.
            <br>
            <br>
            Изготовление стендов,
            табличек, навигации,
            знаков безопасности.
            <br>
            <br>
            Всё для школ,
            садиков и вузов
          </div>
        </div>
      </div>
      <div class="row card-small">
        <div class="col-md-4 right-arrow-6 card-6">
          <h1 class="card-title">РЕКЛАМА НА ТРАНСПОРТЕ</h1>
          <div class="card-description">
            Реклама на автомобиле,
            оклейка такси и
            спецтранспорта,
            наклейки на мотоциклы,
            квадроциклы,
            скутеры
          </div>
        </div>
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/Orrsa-stroi.gif" alt="РЕКЛАМА НА ТРАНСПОРТЕ">
        </div>
      </div>
      <div class="row card-big">
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/Dom-Kuhni.jpg" alt="ДИЗАЙН РЕКЛАМЫ И СОГЛАСОВАНИЕ">
        </div>
        <div class="col-md-4 left-arrow-7 card-7">
          <h1 class="card-title">ДИЗАЙН РЕКЛАМЫ И СОГЛАСОВАНИЕ</h1>
          <div class="card-description">
            Разработка дизайна
            рекламных вывесок,
            брендирование,
            создание логотипа
          </div>
        </div>
      </div>
      <div class="row card-small">
        <div class="col-md-4 right-arrow-8 card-8">
          <h1 class="card-title">ТОНИРОВКА СТЕКОЛ</h1>
          <div class="card-description">
            Защитные пленки
            А1, А2, А3
          </div>
        </div>
        <div class="col-md-8 p-0">
          <img class="w-100" src="../../../../assets/images/viber_image_2021-02-23_15-12-10.jpg" alt="ТОНИРОВКА СТЕКОЛ">
        </div>
      </div>
    </div>
  </div>
</div>
