<div class="row w-100 justify-content-center bg-white m-0">
  <div class="col-md-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2363.18187621701!2d23.82592791600035!3d53.679383857413896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd62f54cbad9d%3A0x25aba1050c07fe08!2z0KDQtdC60LvQsNC80LAg0KLQvtC9LdGB0LXRgNCy0LjRgSDQkNC90YLQuNC60L7RgNGA0L7Qt9C40LnQvdCw0Y8g0L7QsdGA0LDQsdC-0YLQutCwINCi0L7QvdC40YDQvtCy0LrQsCDRgdGC0ZHQutC-0Lsg0JPRgNC-0LTQvdC-!5e0!3m2!1sru!2sby!4v1595584406393!5m2!1sru!2sby"
      width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div class="col-md-6 d-inline-block">
    <div class="map-contacts-container">
      <h1 class="contact-header">Офис компании "Тон-сервис"</h1>
      <div class="map-address">г. Гродно, ул. Октябрьская, дом 4</div>
      <div class="map-phone">+ 375 (29) 780-00-23, (0152) 740090</div>
      <div class="map-timetable">Время работы: 09:00-17:00</div>
      <div class="map-email">ton-service@mail.ru</div>
    </div>
  </div>
</div>
