<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
<div class="container-fluid p-0">
  <div class="row justify-content-center m-0">
    <h1 class="product-offers-header">Наши работы</h1>
  </div>
</div>
<div class="products-grid container-fluid p-0">
  <div class="row row-cols-4 mt-0 mr-0 ml-0 mb-4">
    <div class="col p-0" *ngFor="let productOffering of productTypeHierarchy">
      <div class="thumbnail" routerLink="#">
        <div class="thumbnail-content position-relative">
          <img class="img-thumbnail"
               src="https://www.actived.ru/upload/iblock/6ae/6ae3466a6f6459e10a268e7fadaee343.jpg">
          <div class="description-container">
            <div class="product-description">
              foifohfiowefhioweh foiehwoif heoiwhf ioweh foiewh iow
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="m-portfolio-slider">
  <div class="col" *ngFor="let productOffering of productTypeHierarchy">
    <div class="thumbnail mb-3 mt-3" routerLink="#">
      <div class="thumbnail-content position-relative">
        <img class="img-thumbnail"
             src="https://www.actived.ru/upload/iblock/6ae/6ae3466a6f6459e10a268e7fadaee343.jpg">
        <div class="description-container">
          <div class="product-description">
            foifohfiowefhioweh foiehwoif heoiwhf ioweh foiewh iow
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
