.container-head {
  color: #52525A;
  font-size: 26pt;
}

@media (max-width: 400px) {
  .container {
    display: none;
  }

  .container-head {
    display: none;
  }
}

.pros {
  margin-top: 40px;
  min-width: 240px;
}

.pros-header {
  text-align: center;
  height: 100px;
  font-size: 19px;
  color: #52525A;
}

.pros-description {
  text-align: center;
  font-size: 15px;
  color: #52525A;
}

.pros-icon {
  margin-bottom: 35px;
  width: 100%;
  background: transparent center top no-repeat scroll;
  height: 110px;
}

@media (min-width: 991px) {
  .col-md-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

@media (max-width: 990px) {
  .col-md-3 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.pros-icon-1 {
  background-image: url("../../../../assets/icons/pros-1.png");
  background-size: contain;
}

.pros-icon-2 {
  background-image: url("../../../../assets/icons/pros-2.png");
  background-size: contain;
}

.pros-icon-3 {
  background-image: url("../../../../assets/icons/pros-3.png");
  background-size: contain;
}

.pros-icon-4 {
  background-image: url("../../../../assets/icons/pros-4.png");
  background-size: contain;
}

.page-block-e {
  background: transparent url("https://wallpaperaccess.com/full/358836.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
