<div class="row m-0 bg-dark justify-content-center">
  <div class="container-fluid container-mw">
    <div class="row justify-content-between">
      <div class="row m-2 contact-pr-4">
        <img src="../../../../assets/icons/clock.png" class="clock mr-2 contact-icon contact-pr-2">
        <div class="text-muted contact-pr-1">{{contactsConstants.TIMETABLE}}</div>
      </div>
      <div class="row m-2 contact-pr-3">
        <img src="../../../../assets/icons/address-icon.png" class="clock mr-2 contact-icon contact-pr-2">
        <div class="text-muted contact-pr-1">г.Гродно, ул. Октябрьская 4</div>
      </div>
      <div class="row m-2">
        <img src="../../../../assets/icons/phone-icon.png" class="clock mr-2 contact-icon contact-pr-2">
        <div class="text-muted contact-pr-1">+375(29)780-00-23</div>
      </div>
      <div class="row m-2">
        <img src="../../../../assets/icons/phone-icon.png" class="clock mr-2 contact-icon contact-pr-2">
        <div class="text-muted contact-pr-1">(0152)740090</div>
      </div>
      <div class="row m-2">
        <img src="../../../../assets/icons/mail-icon.png" class="clock mr-2 contact-icon contact-pr-2">
        <div class="text-muted contact-pr-1">innagrodno@mail.ru</div>
      </div>
    </div>
  </div>
</div>
