<div class="container-fluid bg-dark">
  <div class="row">
    <a class="contact-item d-flex flex-fill justify-content-center align-items-center simple-underline contact-pr-4"
       routerLink="/contacts">
      <img src="../../../../assets/icons/address-icon.png" class="contact-icon contact-pr-2" alt="">
      <div class="contact-pr-1">{{contactsConstants.ADDRESS}}</div>
    </a>
    <a class="contact-item d-flex flex-fill justify-content-center align-items-center simple-underline contact-pr-3"
       href="mailto:innagrodno@mail.ru">
      <img src="../../../../assets/icons/mail-icon.png" class="contact-icon contact-pr-2" alt="">
      <div class="contact-pr-1">{{contactsConstants.EMAIL}}</div>
    </a>
    <a class="contact-item d-flex flex-fill justify-content-center align-items-center simple-underline"
       href="tel:+375297800023">
      <img src="../../../../assets/icons/phone-icon.png" class="contact-icon contact-pr-2" alt="">
      <div class="contact-pr-1">{{contactsConstants.PHONE}}</div>
    </a>
    <a class="contact-item d-flex flex-fill justify-content-center align-items-center blue-underline"
       href="viber://chat?number=80333610011">
      <img src="../../../../assets/icons/viber-icon.png" class="contact-icon contact-pr-2" alt="">
      <div class="contact-pr-1">{{contactsConstants.VIBER}}</div>
    </a>
  </div>
</div>
