@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  background-color: #f2eff2;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.active {
  background-color: orange !important;
  color: white !important;
}
