<div class="container">
  <div class="row justify-content-center">
    <h1 class="main-page-pros-header">Наружная реклама</h1>
  </div>
  <div class="row">
    <div class="pros col-md-3">
      <div class="pros-icon pros-icon-1"></div>
      <div class="pros-header">
        WE ARE COOL
      </div>
      <div class="pros-description">
        В штате компании – дизайнеры, инженеры, монтажники, электрики. Их слаженная работа позволит реализовать любую вашу идею.
        Даже в условиях переизбытка рекламы в столице мы успешно справляемся с изготовлением действительно работающих материалов.
      </div>
    </div>
    <div class="pros col-md-3">
      <div class="pros-icon pros-icon-2"></div>
      <div class="pros-header">
        WE ARE COOL
      </div>
      <div class="pros-description">
        В штате компании – дизайнеры, инженеры, монтажники, электрики. Их слаженная работа позволит реализовать любую вашу идею.
        Даже в условиях переизбытка рекламы в столице мы успешно справляемся с изготовлением действительно работающих материалов.
      </div>
    </div>
    <div class="pros col-md-3">
      <div class="pros-icon pros-icon-3"></div>
      <div class="pros-header">
        WE ARE COOL
      </div>
      <div class="pros-description">
        В штате компании – дизайнеры, инженеры, монтажники, электрики. Их слаженная работа позволит реализовать любую вашу идею.
        Даже в условиях переизбытка рекламы в столице мы успешно справляемся с изготовлением действительно работающих материалов.
      </div>
    </div>
    <div class="pros col-md-3">
      <div class="pros-icon pros-icon-4"></div>
      <div class="pros-header">
        WE ARE COOL
      </div>
      <div class="pros-description">
        В штате компании – дизайнеры, инженеры, монтажники, электрики. Их слаженная работа позволит реализовать любую вашу идею.
        Даже в условиях переизбытка рекламы в столице мы успешно справляемся с изготовлением действительно работающих материалов.
      </div>
    </div>
  </div>
</div>
