.contact-header {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 50px;
}

.map-address::before, .map-email::before, .map-phone::before, .map-viber::before, .map-timetable::before {
  width: 17px;
  height: 17px;
  content: "";
  background-size: contain !important;
  display: inline-block;
  margin-right: 60px;
}

.map-viber::before {
  width: 60px;
  height: 17px;
  margin-right: 17px; /* 60 - (60 - 17) */
}

.map-address, .map-email, .map-phone, .map-viber, .map-timetable {
  margin: 15px 0;
}

.map-contacts-container {
  width: auto;
  float: left;
  display: inline-block;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.map-address::before {
  background: url("../../../../assets/icons/map-blue-icon.png") 100% 100% no-repeat;
}

.map-email::before {
  background: url("../../../../assets/icons/mail-blue-icon.png") 100% 100% no-repeat;
}

.map-phone::before {
  background: url("../../../../assets/icons/phone-blue-con.png") 100% 100% no-repeat;
}

.map-viber::before {
  background: url("../../../../assets/icons/viber-blue.png") 100% 100% no-repeat;
}

.map-timetable::before {
  background: url("../../../../assets/icons/clock-blue-icon.png") 100% 100% no-repeat;
}

@media (max-width: 767px) {
  .col-md-6.map {
    -ms-flex-order:1;
    order:1;
  }
  .col-md-6.map-contacts {
    -ms-flex-order:0;
    order:0;
  }
}

a {
  text-decoration:none;
  color: black;
}
