@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

* {
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.slides-container {
  overflow: hidden;
  height: inherit;
}

.main-page-carousel-container {
  overflow: hidden;
}

.carousel-inner {
  height: inherit;
}

.carousel-item {
  height: inherit;
}

h1.carousel-header {
  display: none;
}

@media (max-width: 400px) {

  .slides-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
  }

  .main-page-carousel-container {
    height: 480px;
  }

  img {
    height: 300px;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
  }

  .carousel-indicators {
    bottom: -60px;
  }

  .carousel-details {
    bottom: -100px;
    position: absolute;
    background-color: transparent;
    border-color: #FF2400;
    border-width: .5mm;
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }

  .carousel-details:hover {
    background-color: #FF2400;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .carousel-item-details {
    display: none;
  }

  .carousel-text {
    display: none;
  }

  .carousel-inner {
    overflow: visible;
  }

  h1.carousel-header {
    display: block;
    margin: 4% auto;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    color: #333333;
  }

  .carousel-item-content {
    display: block;
    flex-direction: column;
    background-color: white;
  }

  .carousel-caption {
    position: relative;
    color: #333333;
    padding: 0 !important;
    margin: auto auto;
    height: 60px !important;
    justify-content: center !important;
  }

  .carousel-item-header {
    margin: 0 auto;
    font-size: 20px;
    text-align: center !important;
  }

  .crop {
    display: block !important;
  }

  .full-width {
    display: none !important;
  }
}

@media (min-width: 401px) and (max-width: 991px) {
  .main-page-carousel-container {
    height: 225px;
  }

  .carousel-item-details {
    display: none;
  }

  .carousel-item-header {
    font-size: 20pt;
    font-weight: 400;
  }

  .carousel-text {
    font-size: 20pt;
    font-weight: 300;
  }

  .carousel {
    height: inherit;
  }

  .carousel-details {
    display: none;
  }

  .carousel-caption {
    padding-bottom: 40px;
  }

  .carousel-item-content > img {
    object-fit: fill;
    height: 100%;
  }
}

@media (min-width: 992px) {

  .main-page-carousel-container {
    height: 440px;
  }

  .carousel-item-header {
    font-size: 32pt;
    font-weight: 400;
  }

  .carousel-text {
    font-size: 32pt;
    font-weight: 400;
    padding-bottom: 5%;
  }

  .carousel {
    height: inherit;
  }

  .carousel-details {
    display: none;
  }

  .carousel-item-content > img {
    object-fit: fill;
    height: 100%;
  }
}

.carousel-item-details, .carousel-details {
  color: #FF2400;
  text-transform: uppercase;
  border-radius: 0;
}

.carousel-item-details {
  background-color: white;
  border-color: white;
  border-width: medium;
}

.carousel-item-details:hover {
  background-color: transparent;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 80%;
  padding-left: 5%;
}

.carousel-item-header {
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: default;
}

.carousel-text {
  text-align: left;
  line-height: 1;
  cursor: default;
}

.crop {
  display: none;
}

.carousel-item-content {
  height: 100%;
}
