<div class="main-page-carousel-container">
  <div class="row">
    <h1 class="carousel-header">Наши услуги</h1>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner align-content-center">
      <div class="slides-container">
        <div class="carousel-item active">
          <div class="carousel-item-content">
            <img src="../../../../assets/images/viber_image_2021-02-19_19-25-31.jpg" class="full-width d-block w-100" alt="Фасадные вывески">
            <img src="../../../../assets/images/viber_image_1_%20crop.jpg" class="crop d-block w-100" alt="Фасадные вывески">
            <div class="carousel-caption">
              <div class="carousel-item-header">Фасадные вывески</div>
              <div class="carousel-text">Дизайн, изготовление,<br>обслуживание...</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img src="../../../../assets/images/viber_image_2021-02-19_19-25-32.jpg" class="full-width d-block w-100" alt="TRINITI">
            <img src="../../../../assets/images/viber_image_2_crop.jpg" class="crop d-block w-100" alt="TRINITI">
            <div class="carousel-caption">
              <div class="carousel-item-header">Объект ТРК TRINITI</div>
              <div class="carousel-text">Оформление фитнесклуба...</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img src="../../../../assets/images/viber_image_2021-02-uu19-25-32.jpg" class="full-width d-block w-100" alt="Металлоконструкции, световое обеспечение...">
            <img src="../../../../assets/images/viber_image_2021-02-23_15-56-24.jpg" class="crop d-block w-100" alt="Металлоконструкции, световое обеспечение...">
            <div class="carousel-caption">
              <div class="carousel-item-header">Нестандартные решения</div>
              <div class="carousel-text">Металлоконструкции,<br>световое обеспечение...</div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>
